@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&display=swap");
* { box-sizing: border-box; }

html, body { height: 100%; padding: 0; margin: 0; }

.sr-only { position: absolute; left: -9999px; }


button { font-size: 14px; line-height: 19px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

img { max-width: 100%; }

@media (min-width: 725px) { .mobile-only { display: none; } }

@media (min-width: 0) and (max-width: 725px) { .desktop-only { display: none; } }

#multi-ticket, #multi-ticket-layout { height: 100%; width: 100%; }
#multi-ticket{
       margin-top: 30px;
       background: #2874B7;
       min-height: 5000px
}
.mobile-ticket__page-container, .mobile-ticket__page { margin: 0 auto; min-width: 300px; max-width: 881px; }

.touchevents .mobile-ticket__print-all a:active, .touchevents .mobile-ticket__print-all a:focus { text-decoration: underline; }

.no-touchevents .mobile-ticket__print-all a:hover { text-decoration: underline; }

.mobile-ticket__page-header, .mobile-ticket__page-footer { color: #FFFFFF; }

.mobile-ticket__page-header .mobile-ticket__page-container, .mobile-ticket__page-footer .mobile-ticket__page-container { padding: 20px 35px; display: flex; justify-content: space-between; }

.mobile-ticket__page-header svg path, .mobile-ticket__page-footer svg path { fill: #FFFFFF; }

.mobile-ticket__page-header a, .mobile-ticket__page-header button, .mobile-ticket__page-footer a, .mobile-ticket__page-footer button { font-size: 14px; line-height: 19px; color: #ffffff; text-decoration: none; }

.mobile-ticket__page-header a:hover, .mobile-ticket__page-header button:hover, .mobile-ticket__page-footer a:hover, .mobile-ticket__page-footer button:hover { text-decoration: underline; }

.mobile-ticket__page-header .mobile-ticket__page-container { justify-content: space-between; }

.mobile-ticket__page-footer { margin-top: 26px; }

.mobile-ticket__page-footer .mobile-ticket__page-container { padding: 100px 0 70px; justify-content: center; }

@media (min-width: 0) and (max-width: 600px) { .mobile-ticket__page-footer .mobile-ticket__page-container { padding: 65px 0 30px; flex-direction: column; align-items: center; } }

.page-footer__link { margin: 0 0 16px; }

@media (min-width: 600px) { .page-footer__link { margin: 0 8px; } }

.page-footer__link.button--link { background: transparent; border: 0; }

.page-footer__link.button--link:hover { color: #ffffff; }

.mobile-ticket__header-print { display: flex; font-weight: 600; }

.mobile-ticket__header-print i { margin-left: 5px; height: 20px; }

.mobile-ticket__ticket { margin: 17px 24px; }

.mobile-ticket__empty-state { margin: 17px 24px 50px; }

.card { display: block; background-color: #FFFFFF; border-radius: 10px; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1), 0px 0px 3px 0px rgba(0, 0, 0, 0.1); margin-bottom: 10px; overflow: hidden; }

.card__header { display: flex; align-items: flex-end; justify-content: space-between; align-items: center; padding: 17px 24px 17px 24px; }

.card__header.ticket__count { display: block; color: #657381; font-weight: 600; border-bottom: 1px solid #DBE2EA; }

@media (min-width: 600px) { .card__header.ticket__count { display: none; } }

.card__header-title { font-size: 14px; line-height: 19px; font-weight: 400; margin: 0; }

.card__content { padding: 15px 24px; }

.card__footer { display: flex; border-top: 1px solid #DBE2EA; }

@media (min-width: 600px) { .card__footer { border: 0; padding: 0 20px 20px; } }

.mobile-ticket__header { display: flex; justify-content: space-between; align-items: center; padding: 0 0 15px 0; font-size: 12px; line-height: 16px; }

@media (min-width: 600px) { .mobile-ticket__header { font-size: 15px; line-height: 20px; padding: 10px 0; } }

.mobile-ticket__level-info { display: flex; justify-content: space-between; align-items: center; color: #657381; }

@media (min-width: 725px) { .mobile-ticket__level-info { font-weight: 600; } }

.mobile-ticket__name { font-size: 18px; line-height: 25px; font-weight: 600; }

@media (min-width: 725px) { .mobile-ticket__name { font-size: 22px; line-height: 30px; } }

.mobile-ticket__number { color: #657381; }

@media (min-width: 600px) { .mobile-ticket__number { text-align: center; } }

@media (min-width: 600px) { .ticket-number--mobile { display: none; } }

@media (min-width: 0) and (max-width: 600px) { .ticket-number--desktop { display: none; } }

.mobile-ticket__seat { display: flex; text-align: center; padding-top: 15px; }

@media (min-width: 600px) { .mobile-ticket__seat { padding-top: 24px; } }

.mobile-ticket__seat-info { margin-right: 20px; }

.seat__header, .seat__info { display: block; }

.seat__header { font-size: 12px; line-height: 16px; text-transform: uppercase; padding-bottom: 8px; }

@media (min-width: 600px) { .seat__header { font-size: 14px; line-height: 19px; padding-bottom: 5px; } }

.seat__info { font-weight: 600; font-size: 14px; line-height: 19px; }

@media (min-width: 600px) { .seat__info { font-size: 15px; line-height: 20px; } }

.mobile-ticket__ticket-container { display: flex; flex-direction: column; }

@media (min-width: 600px) { .mobile-ticket__ticket-container { flex-direction: row; } }

@media (min-width: 600px) { .mobile-ticket__ticket-info { flex: 1; } }

@media (min-width: 725px) { .mobile-ticket__ticket-info { flex: 2; } }

@media (min-width: 600px) { .mobile-ticket__ticket-info .card__content { padding: 15px 50px 40px; } }

@media (min-width: 600px) { .mobile-ticket__ticket-images { flex: 1; } }

@media (min-width: 600px) { .mobile-ticket__ticket-info .ticket-info__individual { background: #F9FAFB; } }

@media (min-width: 0) and (max-width: 600px) { .mobile-ticket__ticket-info .ticket-info__event { padding-top: 0; } }

@media (min-width: 600px) { .mobile-ticket__ticket-images { border-left: 1px solid #DBE2EA; } }

@media (min-width: 600px) { .mobile-ticket__ticket-images .card__content { padding: 24px; } }

@media (min-width: 725px) { .mobile-ticket__level-container { display: flex; align-items: center; justify-content: space-between; } }

.mobile-ticket__price-level { font-size: 15px; line-height: 20px; font-weight: 600; padding-bottom: 15px; }

@media (min-width: 725px) { .mobile-ticket__price-level { font-size: 18px; line-height: 25px; padding-bottom: 0; } }

.mobile-ticket__event-info { font-size: 12px; line-height: 16px; }

@media (min-width: 600px) { .mobile-ticket__event-info { font-size: 14px; line-height: 19px; } }

.mobile-ticket__note { padding-top: 12px; font-size: 14px; line-height: 19px; }

.event-info__name, .event-info__time, .event-info__venue { display: block; color: #657381; }

.event-info__name b, .event-info__time b, .event-info__venue b { font-weight: 400 !important; }

.event-info__time--start, .event-info__time--end { display: inline-block; white-space: nowrap; }

.mobile-ticket__barcode, .mobile-ticket__add-to-wallet { display: flex; justify-content: center; align-items: center; }

.mobile-ticket__barcode { padding-bottom: 20px; }

.mobile-ticket__barcode-image { max-width: 140px; }

@media (min-width: 500px) { .mobile-ticket__barcode-image { max-width: 200px; } }

.mobile-ticket__add-to-wallet { padding-bottom: 20px; }

@media (min-width: 600px) { .mobile-ticket__add-to-wallet { padding-bottom: 0; } }

.mobile-ticket__add-to-wallet-image { max-width: 168px; }

.mobile-ticket__button { border: 0; background-color: transparent; outline: 0; padding: 17px 5px; flex: 1; display: flex; align-items: center; justify-content: center; font-size: 14px; font-weight: 600; color: #2874B7; text-decoration: none; }

.mobile-ticket__button:active, .mobile-ticket__button:focus { background: #eeeeee; }

@media (min-width: 600px) { .mobile-ticket__button { border-radius: 5px; } }

.no-touchevents .mobile-ticket__button:hover { background: #eeeeee; cursor: pointer; }

.mobile-ticket__button-icon { display: flex; align-items: center; justify-content: center; margin-left: 5px; margin-bottom: -2px; }

.mobile-ticket__button-icon svg path { fill: #2874B7; }

.mobile-ticket__copy-link.copied { background-color: #E4FFE5; color: #1D5A1E; }

.mobile-ticket__copy-link.copied svg path { fill: #1D5A1E; }

.no-touchevents .mobile-ticket__copy-link.copied:hover { background-color: #E4FFE5; cursor: pointer; }

.mobile-ticket__pdf-link { text-align: center; font-size: 12px; }

.mobile-ticket__pdf-link a, .mobile-ticket__pdf-link a:visited { color: #ffffff; text-decoration: none; }

.touchevents .mobile-ticket__pdf-link a:active, .touchevents .mobile-ticket__pdf-link a:focus { text-decoration: underline; }

.no-touchevents .mobile-ticket__pdf-link a:hover { text-decoration: underline; }

.mobile-ticket__empty-message { font-weight: 600; color: #657381; }

#mobile-ticket__overlay { width: 100%; height: 100%; background: rgba(0, 0, 0, 0); position: fixed; top: 0px; left: 0; right: 0; bottom: 0; z-index: 1000; overflow: auto; visibility: hidden; transition: all 0.3s; }

#mobile-ticket__overlay .mobile-ticket-overlay__body { margin: 20px auto 0; min-height: calc(100% - 20px); height: auto; min-width: 300px; max-width: 581px; background: #FFFFFF; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 20px; -webkit-transform: translateY(100%); transform: translateY(100%); transition: all 0.3s; }

.overlay--open #mobile-ticket__overlay { background: rgba(0, 0, 0, 0.75); visibility: visible; }

.overlay--open #mobile-ticket__overlay .mobile-ticket-overlay__body { -webkit-transform: translateY(0%); transform: translateY(0%); }

.overlay__close-button { background: transparent; border: 0; border-radius: 5px; padding: 5px 8px; font-size: 14px; line-height: 19px; font-weight: 600; color: #172941; cursor: pointer; }

.overlay__close-button:hover { background: #DBE2EA; }